  /*MARGIN LEFT DEL NAVBAR EMPEZANDO DESDE 'NOSOTROS'*/
  #navbarNav{
    margin-top:2%;
    padding-left: 45%;
  }

  /*DIV QUE ENCIERRA AL CARROUSEL, EL TEXTO DENTRO DEL CARROUSEL Y EL BOTON*/
  .div-carousel{
    position: relative;
  }

  /*TEXTO QUE ESTA DENTRO DEL CARROUSEL*/
  .texto-carousel{
    position: absolute;
    color: #ffffff;
    z-index: 10;
    font-size: 3vw;
  }

  /*BOTON DEL CAROUSEL 'VER PROPIEDADES'*/
  #btn-carousel{
    font-size: 1.5vw;
  }

  /*CAMBIAR DESPACIO EL COLOR DEL NAVBAR AL SCROLLEAR*/
  .navbar-dark, .navbar-light{
      transition: all 0.5s;
  }

  /*DARLE COLOR MEDIO GRIS A LA SEGUNDA FILA*/
  .second-row{
      background-color: #f5f0f0;
  }

  #second-row{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #linea_pequeña{
    width: 40px;
    height: 2px;
    color: red;
    font-weight: bold;
  }

  /*TEXTO DE TITULOS DE VILLAS DEPARTAMENTOS Y SUITES*/
  .texto-imagenes{
    color: #ffffff;
    -webkit-text-stroke: 1px rgb(162, 157, 157);
    font-size: 3vw;
    text-align: center;
    font-size: 3vw;
  }

  /*IMAGENES DE VILLAS DEPARTAMENTOS Y SUITES*/
  .fila-imagenes{
    width: 100%;
    height: 110%;
    padding-bottom: 20%;
  }

  /*PARA CENTRAR AL TEXTO DE LA FILA 3 ENCIMA DEL LINK*/
  .text-row-3{
    padding-top: 25%;
    padding-left: 15%;
    padding-right: 15%;
  }

  /*ESTAS DOS CLASES SON PARA EL LINK DE LA FILA 3*/
  .link-row3:hover {
    font-size:20px;
    color:#100;
  }

  /*HACER EL LINK DE LA FILA 3 DE COLOR NEGRO*/
  .link-row3{
    color: #100;
  }

  .hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
  }

  /*EFECTO EN LAS IMAGENES*/
  .hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hover-zoomin:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  